/* CSS file created 05/13/2024 - Liliana R. Saavedra
credits: Codehal on YouTube
This CSS file was meant to be an extension to the current details page, and
would add functionality to the Parallax effect we wanted to add.
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

body{
    background: #02ff24;
}
.parallax-1{
    background-image: url('/templates/hot.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
}
.parallax-inner{
    padding:10% 0;
}