<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Otter Weather</title>

    <style>
        body {
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        color: #00698f;
      }
      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
    </style>
</head>
<body>
    <div class="container">
        <h1> Otter Weather</h1>
        <p> Weather in {city_name}</p>
        <p>Temperature {temp}°F</p>
        <p>Temperature {temp}°C</p>
        <p>Wind{wind_speed} </p>
        <p>Humidity{humidity} </p>
        <p>Weather Condition: {weather_condition}</p>
    </div>

    <!-- <form action="/submit" method="post">
      <label for="text_input">Enter Text:</label>
      <input type="text" id="text_input" name="text_input">
      <button type="submit">Submit</button>
  </form> -->
    


</body>

</html>
